<section class="user-index">
  <h1 class="caption">Welcome to the Blog App</h1>
  <div>
    <div class="home-btn-container">
      <%= link_to 'Login', new_user_session_path, class: 'home-btn' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'home-btn' %>
    </div>
  </div>
</section>
