/* HOME */
.home-btn-container {
  margin-top: 50px;
}

.home-btn {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  border: 2px solid blue;
  border-radius: 5px;
}

/* SIGN UP */
.signup-container {
  border: 2px solid blue;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 40px 10px 20px;
  margin-top: 15px;
}

.field {
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.125rem;
}

.field-input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(48, 48, 81);
  border-radius: 4px;
  margin-bottom: 10px;
}

.signup-btn,
.login-btn {
  background-color: #fc9dc1;
  border-radius: 4px;
  padding: 8px 5px;
  color: white;
  border: none;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

/* INDEX */
.user-index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  margin: 50px auto;
  align-items: center;
}

.caption {
  color: rgb(3, 3, 33);
}

.users-container {
  width: 100%;
  padding: 50px;
}

.card-link {
  text-decoration: none;
}

.user-box {
  border: 2px solid blue;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
}

.user-img {
  width: 75px;
}

.user-details {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.user-stats {
  margin-top: 40px;
  color: black;
}

.comment {
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.comment-caption {
  font-size: 15px;
  margin-bottom: 5px;
}

.user-comment {
  padding: 3px;
}

/* SHOW */
.user-bio,
.posts-container {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.user-bio-caption {
  margin-bottom: 20px;
}

.posts-container {
  padding: 12px 10px 0;
}

.post-card {
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px;
}

.post-title {
  margin-bottom: 15px;
}

.post-text {
  margin-bottom: 8px;
}

.post-stats {
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.btn {
  padding: 8px 10px;
  border: 2px solid blue;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
}

.btn-link,
.post-link {
  text-decoration: none;
}

.comment-show {
  margin-bottom: 12px;
}
